{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "@open-wc",
    "prettier"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "class-methods-use-this": "off",
    "import/no-extraneous-dependencies": "off",
    "no-unused-vars": "off",
    "no-undef": "off",
    "no-plusplus": "off",
    "no-param-reassign": [2, { "props": false }],
    "@typescript-eslint/no-unused-vars": ["error"],
    "import/no-unresolved": "off",
    "import/extensions": [
      "error",
      "always",
      {
        "ignorePackages": true
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "*.test.ts",
        "*.spec.ts"
      ],
      "rules": {
        "no-unused-expressions": "off",
        "prefer-destructuring": "off",
        "no-await-in-loop": "off",
        "max-classes-per-file ": "off"
      }
    }
  ]
}
