result
dist
node_modules
coverage
tmp
.nx
.angular
.terraform
terraform.tfvars
tfplan
.docusaurus/
.cache-loader/
.env
ARCHITECTURE.pdf
*.archimate.bak
graph.png
http_cache.sqlite
sbom.cdx.json
sbom.csv
sbom.spdx.json
vulns.csv
nix_outdated.csv
sbom/
sbom.zip
