/**
 * ArcButton LIT Web component styles.
 */
@use '../../styles/component.styles' as component;
@use 'arc-button.shared' as arc-radio-button;

/* base component styles */
@include component.host;
@include component.hidden;
@include component.typography;
@include component.scrollbar;

:host {
  @include arc-radio-button.host-styles;
}

:host([type='tab']) {
  @include arc-radio-button.host-tab-styles;
}

.#{arc-radio-button.$selector} {
  @include arc-radio-button.component-styles;

  width: 100%;
  min-height: 100%;

  /* prevent click events from firing when a user clicks on a slot */
  slot {
    pointer-events: none;
  }
}
