import { css, html, LitElement } from 'lit';
import { property } from 'lit/decorators.js';
import { emit } from '../../internal/event.js';
import { watch } from '../../internal/watch.js';
import componentStyles from '../../styles/component.styles.js';

export default class {{ properCase tag }} extends LitElement {
  static tag = '{{ tag }}'

  static styles = [
    componentStyles,
    css``,
  ];

  /* An example property. */
  @property({type: String}) prop: string = 'Hello World';

  @watch('prop')
  handlePropChange() {
    /* Example event */
    emit(this, 'arc-event-name');
  }

  render() {
    return html`<div id='main'>${this.name}</div>`;
  }
}

declare global {
  interface HTMLElementTagNameMap {
    '{{ tag }}': {{ properCase tag }};
  }
}
