/**
 * ArcAccessibility shared component styles.
 */
@use '../../styles/preferences' as preferences;

/* selector */
$selector: #{preferences.$prefix}accessibility;


/* component styles */
@mixin component-styles {
  display: grid;
  gap: var(--arc-spacing-small);

  & &--label {
    display: flex;
    align-items: center;
    gap: var(--arc-spacing-small);
  }

  & &--options {
    display: flex;
    flex-wrap: wrap;
    gap: var(--arc-spacing-small);
  }
}
