:root {
  /* Layout elements */
  --arc-navbar-height: 3.5rem;
  --arc-sidebar-width: 23rem;
  --arc-bottom-height: var(--arc-navbar-height);

  /* Padding / Margins */
  --arc-spacing-small: 0.75rem;
  --arc-spacing-normal: 1rem;
  --arc-spacing-medium: 1.5rem;
  --arc-spacing-large: 1.75rem;

  /* Borders */
  --arc-border-width: 1px;
  --arc-border-style: solid;
  --arc-border-radius-small: 0.125rem;
  --arc-border-radius-medium: 0.25rem;
  --arc-border-radius-large: 0.5rem;
  --arc-border-radius-x-large: 1rem;

  /* Box shadow */
  --arc-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.14);
}
