:host,
arc-container[theme='dark'] {
  --arc-background-color: var(--arc-black-100);
  --arc-container-color: var(--arc-grey-100);
  --arc-color-default: var(--arc-white-000);

  --arc-button-color-disabled: var(--arc-grey-060);
  --arc-button-color-hover: var(--arc-grey-090);

  --arc-tab-color: var(--arc-white-000);
}
