:host,
arc-container[theme='dark'] {
  --arc-background-color: var(--arc-black-100);
  --arc-container-color: var(--arc-grey-100);
  --arc-font-color: var(--arc-white-000);

  --arc-color-disabled: var(--arc-grey-030);
  --arc-background-disabled: var(--arc-grey-080)
}
