:host,
arc-container[theme='dark'] {
  --arc-font-color: var(--arc-white-000);
  --arc-input-color: var(--arc-grey-100);
  --arc-tab-color: var(--arc-font-color);
  --arc-background-color: var(--arc-black-100);
  --arc-container-color: var(--arc-grey-100);

  --arc-color-secondary: var(--arc-white-000);
  --arc-color-error: var(--arc-red-030);
  --arc-color-warning: var(--arc-orange-030);
  --arc-color-info: var(--arc-blue-030);
  --arc-color-success: var(--arc-green-030);

  --arc-hover-light: rgba(var(--arc-black-100), 0.80);

  --arc-color-custom: var(--arc-purple-030);
}
