:root,
:host,
arc-container[theme='light'] {
  --arc-background-color: var(--arc-grey-010);
  --arc-container-color: var(--arc-white-000);
  --arc-font-color: var(--arc-black-100);

  --arc-color-default: var(--arc-grey-020);
  --arc-color-primary: var(--arc-blue-070);
  --arc-color-secondary: var(--arc-red-060);
  --arc-color-error: var(--arc-red-040);
  --arc-color-warning: var(--arc-orange-030);
  --arc-color-info: var(--arc-blue-020);
  --arc-color-success: var(--arc-green-030);

  --arc-color-disabled: var(--arc-grey-080);
  --arc-background-disabled: var(--arc-grey-030)
}
