:host,
arc-container[theme="dark"] {
  /* Base */
  --arc-font-color: var(--arc-grey-000);
  --arc-input-color: var(--arc-grey-020);
  --arc-background-color: var(--arc-black-100);
  --arc-container-color: var(--arc-grey-100);

  /* Palette */
  --arc-color-default: var(--arc-background-color);
  --arc-color-primary: var(--arc-font-color);
  --arc-color-secondary: var(--arc-grey-040);
  --arc-color-error: var(--arc-red-040);
  --arc-color-warning: var(--arc-orange-040);
  --arc-color-info: var(--arc-blue-040);
  --arc-color-success: var(--arc-green-040);

  /* Hover */
  --arc-hover-lighter: rgba(var(--arc-black-100), 0.8);
  --arc-hover-light: rgba(var(--arc-black-100), 0.85);
}
