:root,
:host,
arc-container[theme="light"] {
  /* Base */
  --arc-font-color: var(--arc-grey-100);
  --arc-input-color: var(--arc-font-color);
  --arc-background-color: var(--arc-grey-010);
  --arc-container-color: var(--arc-white-000);

  /* Palette */
  --arc-color-default: var(--arc-grey-010);
  --arc-color-primary: var(--arc-red-050);
  --arc-color-secondary: var(--arc-grey-100);
  --arc-color-error: var(--arc-red-000);
  --arc-color-warning: var(--arc-orange-000);
  --arc-color-info: var(--arc-blue-000);
  --arc-color-success: var(--arc-green-000);

  /* Hover */
  --arc-hover-darker: rgba(var(--arc-black-100), 0.3);
  --arc-hover-dark: rgba(var(--arc-black-100), 0.1);
  --arc-hover-light: rgba(var(--arc-white-000), 0.7);
  --arc-hover-lighter: rgba(var(--arc-white-000), 0.9);
}
