@import 'colors.css';
@import 'font.css';
@import 'inputs.css';
@import 'layout.css';
@import 'transitions.css';

:root {
  /* Branding */
  --arc-brand-height: 1.25rem;
}

body {
  margin: 0;
  font-family: var(--arc-font-body);
  font-size: var(--arc-font-size-medium);
  font-weight: var(--arc-font-weight-normal);
  letter-spacing: var(--arc-letter-spacing-normal);
  line-height: var(--arc-line-height-normal);
}

/* Account for any border and padding in the width/height values of an element */
*,
*::before,
*::after {
  box-sizing: border-box;
}
