:host,
arc-container[theme='dark'] {
  /* Base */
  --arc-font-color: var(--arc-dark-font-color);
  --arc-input-color: var(--arc-dark-input-color);
  --arc-background-color: var(--arc-dark-background-color);
  --arc-container-color: var(--arc-dark-container-color);

  /* Set the color scheme for native form elements */
  color-scheme: dark;

  /* Palette */
  --arc-color-default: var(--arc-dark-color-default);
  --arc-color-primary: var(--arc-dark-color-primary);
  --arc-color-secondary: var(--arc-dark-color-secondary);
  --arc-color-error: var(--arc-dark-color-error);
  --arc-color-warning: var(--arc-dark-color-warning);
  --arc-color-info: var(--arc-dark-color-info);
  --arc-color-success: var(--arc-dark-color-success);

  /* Box shadow */
  --arc-dark-box-shadow: var(--arc-box-shadow-01) var(--arc-darker-30),
    var(--arc-box-shadow-02) var(--arc-darker-15),
    var(--arc-box-shadow-03) var(--arc-darker-13);

  /* Hover */
  --arc-hover-light: var(--arc-dark-hover-light);
  --arc-hover-lighter: var(--arc-dark-hover-lighter);
}
