:root,
:host,
arc-container[theme='light'] {
  /* Base */
  --arc-font-color: var(--arc-light-font-color);
  --arc-input-color: var(--arc-light-input-color);
  --arc-background-color: var(--arc-light-background-color);
  --arc-container-color: var(--arc-light-container-color);

  /* Palette */
  --arc-color-default: var(--arc-light-color-default);
  --arc-color-primary: var(--arc-light-color-primary);
  --arc-color-secondary: var(--arc-light-color-secondary);
  --arc-color-error: var(--arc-light-color-error);
  --arc-color-warning: var(--arc-light-color-warning);
  --arc-color-info: var(--arc-light-color-info);
  --arc-color-success: var(--arc-light-color-success);

  /* Box shadow */
  --arc-box-shadow: var(--arc-light-box-shadow);

  /* Hover */
  --arc-hover-darker: var(--arc-light-hover-darker);
  --arc-hover-dark: var(--arc-light-hover-dark);
  --arc-hover-light: var(--arc-light-hover-light);
  --arc-hover-lighter: var(--arc-light-hover-lighter);
}
