# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
#       - name: Configure AWS Credentials
#         uses: aws-actions/configure-aws-credentials@v1
#         with:
#           aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
#           aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#           aws-region: eu-west-1
      
      - name: Setup Node.js environment
        uses: actions/setup-node@v2.4.0

      - name: install 
        run: npm install
        
      - name: build 
        run: npm run build
        
      - name: Sync S3
        # You may pin to the exact commit or the version.
        # uses: shallwefootball/upload-s3-action@bcd7c2408245fd6cd19b5512a473b1a7a8b48a35
#         uses: shallwefootball/upload-s3-action@v1.1.3
        uses: jakejarvis/s3-sync-action@v0.5.1
        with:
          # aws key id
          aws_key_id:  ${{ secrets.AWS_ACCESS_KEY_ID }}
          # aws secret access key
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          # aws bucket name
          aws_bucket: arup-arc-components
          # directory to upload
          source_dir: dist/
          destination_dir: /
          
          
          
